<h3><%= @pirate.name %></h3>
<p><%= @pirate.height %></p>
<p><%= @pirate.weight %></p>
<br>

<% @ships.each do |ship|%>
  <h3><%= ship.name %></h3> 
  <p><%= ship.type %></p>
  <p><%= ship.booty %></p>
  <br>
<% end %>