<h1>Pirate</h1>
<h3>Name: <%=@pirate.name%></h3>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>
<h2>Ships:</h2>
<ul>
<% @ships.each do |ship|%>
    <li><h3>Name: <%=ship.name%></h3></li>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty%></p>
<% end %>
